#register{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

h2{
    margin-bottom: 3rem!important;
}

#register * {
    margin-bottom: 1rem;
}

#register Form {
    background-color: rgb(1,45,59,0.9);
    padding: 2rem;
    width: 80%;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: auto;
    margin-bottom: 2rem;
}

.center{
    display: flex;
    justify-content: center;
}

.btn{
    text-align: center;
    margin: auto;
}