body {
  color:white;
  max-width: clamp(320px, 90%, 1000px);
  margin: auto;
  line-height: 1.5;
  
}
img {
  max-width: 100%;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  background-color: rgb(1,45,59);
}

#siteLogo{
  max-height: 120px;
opacity: 1;
border-radius: 10px;
margin:20px;
}

p {
  max-width: 65ch;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

td, th {
  padding: 0.5em; 
}